@import "null_style.scss";
/*-------------------------------FONTS-----------------------------------*/
//&display=swap&subset=cyrillic-ext
@import "fonts.scss";

/*-------------------------DEFAULT FONT-----------------------------*/
$fontFamily: Arial, Helvetica, sans-serif;
/*-------------------------------VARIABLES-------------------------------*/
$paddingContainer: 15;
$maxWidthContainer: 960 + $paddingContainer * 2;

$md1: $maxWidthContainer + $paddingContainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

/*
   @media (max-width: $md2) {
   }
   @media (max-width: $md3) {
   }
   @media (max-width: $md4) {
   }
*/
/*--------------------------CONTENT WRAPPERS------------------------------*/
body {
   font-family: $fontFamily;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 $paddingContainer + px;
}

.page {
   padding: 30px;
}

/*------------------------------HEADER------------------------------------*/
@import "header.scss";
/*-------------------------------BEM-BLOCKS-------------------------------*/

.countries {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   max-width: 1000px;
   margin: 0 auto;
   align-items: center;
}

.country {
   padding: 15px;
   background-color: rgb(255, 255, 255);
   border-radius: 20px;

   // .country__wrapper

   &__wrapper {
      filter: drop-shadow(rgba(0, 0, 0, 0.516) 2px 2px 20px);
      flex: 0 0 300px;
   }

   // .country__neighbour

   &__neighbour {
      transform: scale(0.7);
      & > * {
         position: relative;
         &::before {
            content: "Neighbour";
            position: absolute;
            z-index: -1;
            font-size: 24px;
            font-style: italic;
            background-color: rgb(255, 255, 255);
            filter: drop-shadow(rgba(0, 0, 0, 0.467) 2px 2px 20px);
            padding: 10px;
            border-radius: 20px;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
         }
      }
   }

   // .country__img

   &__img {
      background-color: aliceblue;
      height: 150px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 20px;
      img {
         object-fit: fill;
         height: 100%;
         width: 100%;
      }
   }

   // .country__data

   &__data {
   }

   // .country__name

   &__name {
      font-size: 24px;
      text-align: center;
      margin-bottom: 5px;
   }

   // .country__region

   &__region {
      font-size: 18px;
      text-align: center;
      margin-bottom: 5px;
      color: gray;
   }

   // .country__column

   &__column {
      & > *:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   // .country__row

   &__row {
      & > *:first-child {
         display: inline-block;
         width: 30px;
         text-align: center;
      }
   }
}

.controls {
   padding: 50px 0;
   // .controls__wrapper

   &__wrapper {
      display: flex;
   }
   margin: 0 auto;
   display: flex;
   gap: 50px;
   // .controls__input

   &__input {
      font-size: 32px;
      padding: 5px 10px;
      background-color: white;
      filter: drop-shadow(rgba(0, 0, 0, 0.516) 2px 2px 20px);
      border-radius: 10px;

      &::placeholder {
         color: gray;
         font-style: italic;
      }
   }

   // .controls__button

   &__button {
      font-size: 32px;
      padding: 5px 10px;
      background-color: rgb(255, 255, 255);
      filter: drop-shadow(rgba(0, 0, 0, 0.516) 2px 2px 20px);
      border-radius: 10px;

      &:active {
         opacity: 0.9;
      }
   }
}
